﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Web Programming.aspx.cs" Inherits="Assignment_2a.Javascript" %>
<asp:Content ContentPlaceHolderID="Maincontent" runat="server">
    <H4>This is what I learned about Javascript arrays and methods:</H4>
    <p>In Javascript arrays are used to store multiple values under one name.A method converts the arrays to a string of values here is an example of an array:</p>
    <p><strong>Here is an example of an array:</strong></p><br />
  <%--- // <p>var animal ["Monkey", "Cat", "Dog", "Horse", "Goat" ];</p> 

 // <p><strong>The Array I've created:</strong></p> 
//    <p>var mybooks =[book1,book2,book3,book4,book5,book6,book7,book8,book9,book10];</p><br />
 //   <p>This code example promts the user to select a number between 1-10, each number which will revel a book title.</p>
 //   <p>var wwyl = prompt("Which top 10 book would you like?", "Pick a number: 1-10");---%>

<%---// mybooks.unshift(book1); <br />
// console.log(mybooks);<br /> <p>Unshift adds an item to the front of the array, in this case it would be book1.</p>
     
// var bookchoice = mybooks[wwyl]<br />

// if (isNaN (wwyl) || wwyl < 1 || wwyl > 10)<br />
// {alert("please enter a number between 1-10"); (This would display the error message for the invalid entry)
// }<br />
// else
//    {alert("Number On the list is "  + wwyl + bookchoice); (The user's book choice)
//    }
//        <br/>
// var list = prompt("Book list:......." + mybooks); (This code would revel a list of all the arrays.)
// </p>---%>
    
    <ASP:CodeBox runat="server" CodeToServe="my_db"></ASP:CodeBox>
    
    <a href="https://www.w3schools.com/js/default.asp">Learn more here</a>
</asp:Content>
<asp:Content ContentPlaceHolderID="Web" runat="server">

</asp:Content>
