﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CodeBox.ascx.cs" Inherits="Assignment_2a.usercontrols.CodeBox" %>
<asp:DataGrid runat="server" ID="my_code"></asp:DataGrid>
<div id="debug" runat="server"></div>